# Maven
target/
*.war
*.ear
*.nar
*.jar
*.zar
maven-eclipse.xml
maven-jetty.xml
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# Eclipse
.classpath
.project
.settings/
.checkstyle
.factorypath
bin/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# OS specific
.DS_Store
Thumbs.db
